html {
    background-color: rgba(0, 0, 0, 0.8); /* Negro con 80% de opacidad */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 24px;
}

.options {
    margin-top: 20px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

